# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
# from config import gkey
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
clean_city_data_df= pd.read_csv(
    "clean_cities.csv", dtype="object", encoding="utf-8")

# Visualize
clean_city_data_df

,Cities,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed
0,puerto ayora,75.0,EC,1595196317.0,73.0,-0.74,-90.35,75.2,13.87
1,busselton,54.0,AU,1595196586.0,76.0,-33.65,115.33,46.99,8.34
2,ossora,96.0,RU,1595196649.0,88.0,59.24,163.07,52.48,13.89
3,hofn,39.0,IS,1595196614.0,57.0,64.25,-15.21,55.54,9.22
4,cherskiy,0.0,RU,1595196598.0,46.0,68.75,161.3,70.34,7.29
...,...,...,...,...,...,...,...,...,...
561,roald,12.0,NO,1595196800.0,87.0,62.58,6.13,53.6,6.93
562,san quintin,0.0,MX,1595196800.0,54.0,30.48,-115.95,77.86,20.07
563,cidreira,66.0,BR,1595196801.0,77.0,-30.18,-50.21,66.42,10.36
564,wanxian,100.0,CN,1595196801.0,80.0,30.8,108.39,75.31,2.24
565,conde,20.0,BR,1595196801.0,88.0,-7.26,-34.91,77.0,6.93

In [3]:
nan_value = float("NaN")
clean_city_data_df.replace("", nan_value, inplace = True)
clean_city_data_df.dropna(subset = ["Country"], inplace = True)
clean_city_data_df.dropna(subset = ["Cloudiness"], inplace = True)
clean_city_data_df.dropna(subset = ["Date"], inplace = True)
clean_city_data_df.dropna(subset = ["Humidity"], inplace = True)
clean_city_data_df.dropna(subset = ["Lat"], inplace = True)
clean_city_data_df.dropna(subset = ["Lng"], inplace = True)
clean_city_data_df.dropna(subset = ["Max_Temp"], inplace = True)
clean_city_data_df.dropna(subset = ["Wind_Speed"], inplace = True)
clean_city_data_df
# VC_cities_df = V_cities_df
# VC_cities_df

,Cities,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed
0,puerto ayora,75.0,EC,1595196317.0,73.0,-0.74,-90.35,75.2,13.87
1,busselton,54.0,AU,1595196586.0,76.0,-33.65,115.33,46.99,8.34
2,ossora,96.0,RU,1595196649.0,88.0,59.24,163.07,52.48,13.89
3,hofn,39.0,IS,1595196614.0,57.0,64.25,-15.21,55.54,9.22
4,cherskiy,0.0,RU,1595196598.0,46.0,68.75,161.3,70.34,7.29
...,...,...,...,...,...,...,...,...,...
561,roald,12.0,NO,1595196800.0,87.0,62.58,6.13,53.6,6.93
562,san quintin,0.0,MX,1595196800.0,54.0,30.48,-115.95,77.86,20.07
563,cidreira,66.0,BR,1595196801.0,77.0,-30.18,-50.21,66.42,10.36
564,wanxian,100.0,CN,1595196801.0,80.0,30.8,108.39,75.31,2.24
565,conde,20.0,BR,1595196801.0,88.0,-7.26,-34.91,77.0,6.93

In [4]:
clean_city_data_df.count()

 Cities       562
Cloudiness    562
Country       562
Date          562
Humidity      562
Lat           562
Lng           562
Max_Temp      562
Wind_Speed    562
dtype: int64

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

In [6]:
# Store 'Lat' and 'Lng' into  locations 
locations = clean_city_data_df[["Lat", "Lng"]].astype(float)

# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
# clean_city_data_df = V_cities.dropna()
things = clean_city_data_df["Humidity"].astype(float)
things

0      73.0
1      76.0
2      88.0
3      57.0
4      46.0
       ...
561    87.0
562    54.0
563    77.0
564    80.0
565    88.0
Name: Humidity, Length: 562, dtype: float64

In [7]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = things, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [ ]:
# Narrow down the DataFrame to find your ideal weather condition. For example:

# A max temperature lower than 80 degrees but higher than 70.

# Wind speed less than 10 mph.

# Zero cloudiness.

# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

# Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

In [8]:
clean_city_data_df.count()

 Cities       562
Cloudiness    562
Country       562
Date          562
Humidity      562
Lat           562
Lng           562
Max_Temp      562
Wind_Speed    562
dtype: int64

In [31]:


ideal_vacation_df = clean_city_data_df[clean_city_data_df["Max_Temp"] > "60"]
ideal_vacation_df = ideal_vacation_df[ideal_vacation_df["Max_Temp"] < "85"]
ideal_vacation_df = ideal_vacation_df[ideal_vacation_df["Wind_Speed"] < "10"]
ideal_vacation_df = ideal_vacation_df[ideal_vacation_df["Humidity"] < "85"]
ideal_vacation_df = ideal_vacation_df[ideal_vacation_df["Cloudiness"] == "0.0"]
ideal_vacation_df

,Cities,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed
249,linfen,0.0,CN,1595196627.0,57.0,36.09,111.52,75.27,1.36
258,sao gotardo,0.0,BR,1595196717.0,70.0,-19.31,-46.05,62.01,1.99
394,sebinkarahisar,0.0,TR,1595196760.0,62.0,40.29,38.42,65.5,1.45
488,narbonne,0.0,FR,1595196783.0,63.0,43.08,2.83,70.0,1.48
489,xuanhua,0.0,CN,1595196783.0,51.0,40.61,115.04,68.31,0.45
523,navalmoral de la mata,0.0,ES,1595196791.0,23.0,39.89,-5.54,81.0,1.01

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [30]:
hotel_df = ideal_vacation_df.loc[:, [" Cities", "Country", "Lat", "Lng", "Max_Temp"]]
hotel_df["Hotel_Name"] = ""
hotel_df

                    Cities Country     Lat     Lng Max_Temp Hotel_Name
249                 linfen      CN   36.09  111.52    75.27
258            sao gotardo      BR  -19.31  -46.05    62.01
394         sebinkarahisar      TR   40.29   38.42     65.5
488               narbonne      FR   43.08    2.83     70.0
489                xuanhua      CN   40.61  115.04    68.31
523  navalmoral de la mata      ES   39.89   -5.54     81.0

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure